:root {
    --red:#ff0000;
    --lilac:#ecb9eb;
    --purple:#770584;
    --deep:#38013a;
    --blank:#eff4f7;
} 

* {
    user-select: none;
    box-sizing: border-box;
}

img {
    max-height: 100%;
    display: none;
    cursor: pointer;
}

body { 
    display: flex;
    flex-flow: column;
    
    height: 97vh;
    width: 98vw;
    padding: 2vh;
    background-color: var(--deep);
}


/* HEADER */

header {
    border-radius: 20px 20px 0 0;
    background-color: var(--purple);
    color:var(--blank);

    max-height: 17%;
    flex: 17%; /* try flex 100% and flex-flow: row wrap */
    
    display: flex;
    justify-content: center;
}
header figure {
    margin: 3vh;
}
header img {
    display: flex;
}
header h1 {
    align-self: center;
    cursor: pointer;
}


/* MAIN */
main {
    flex: 51%;
    max-height: 51%;

    background-color: var(--lilac);
    padding: 2vh 40vh;

    display: flex;
    justify-content: space-between;
}
main h2 {
    align-self: center;
}
main section {
    padding: 1vh;
    flex: 50%;
    width: 50%;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 2vh;
}
main section div {
    border-radius: 25px;
    background-color: var(--blank);
    max-height: 15%;
    gap: 1vh;
    width: 30vh;
    cursor: pointer;
    display: flex;
    justify-content: center;
}
main figure {
    margin: 0;

    display: flex;
}
main section figure {
    max-height: 85%;
}
main article {
    flex: 50%;

    background-color: var(--blank);
    border-radius: 25px;
    font-weight: 600;

    display: flex;
    flex-flow: column;
    justify-content: space-around;
    font-size: 3vh;
}
.parent {
    display: flex;
    justify-content: space-evenly;
}
.child { 
    display: flex;
    flex-flow: column;
    align-items: center;
}
.child span:nth-child(1) {
    color: var(--purple);
    font-weight: bolder;   
}
main img {
    display: flex;
    z-index: 1;
}


/* FOOTER */

footer {
    flex: 32%;
    max-height: 32%;
    max-width: 100%;
    
    border-radius: 0 0 20px 20px;
    background-color: var(--blank);
    
    display: flex;
    padding: 2vh;
}
footer img {
    display: flex;
}
footer figure {
    border-radius: 25px;
    background-color: var(--lilac);
    margin: 0;
    padding: 1vh;
}
footer figure:hover {
    background-color: var(--purple);
}
footer h3 {
    align-self: center;
    max-width: 12%;
}
.othersContainer {
    display: flex;
    width: 100%;
    /* align-items: center; */
}
.othersFigs {
    padding: 2vh 0;
    max-width: 88%;
    display: flex;
    justify-content: space-around;
}


/* RESPONSIVE DESIGN */

@media only screen and (max-width: 1200px) {
    main {
        padding: 2vh 10vh;
    }
}

@media only screen and (max-width: 750px) {
    body {
        height: 97vh;
        width: 98vw;
    }
    header {
        max-height: 10%;
        flex: 10%;
    }
    header figure {
        margin: 2vh;
    }
    main {
        flex-direction: column wrap;
        padding: 2vh 10vh;
        
        max-height: 60%;
        flex: 60%;
        flex-wrap: wrap;
    }
    main section div {
        max-height: 4%;
    }
    main section figure {
        max-height: 20%;
    }
    .title figure {
        max-height: 100%;
    }
    footer img {
        display: none;
    }
}