:root {
    --red:#ff0000;
    --lilac:#ecb9eb;
    --purple:#770584;
    --deep:#38013a;
    --blank:#eff4f7;
} 
* {
    user-select: none;
    box-sizing: border-box;
}
img {
    width: auto;
    height: 100%;
}
body {
    font-family: Ubuntu, system-ui, -apple-system, 
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, 
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--deep);
    padding: 2vh;
    height: 100vh;

    display: grid;
    grid-template-areas: 
    'header header header header header'
    'main main main main main'
    'footer footer footer footer footer';
}
header {
    grid-area: header;
    background-color: var(--purple);
    border-radius: 20px 20px 0 0;
    height: 15vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
header figure {
    height: inherit;
    margin: 1vh;
}
header figure img {
    height: inherit;
    padding: 3vh;
}
header h1 {
    color: whitesmoke;
}

main {
    background-color: var(--lilac);
    height: 50vh;
    display: flex;
    padding: 1vh 5vw;

    grid-area: main;
    gap: 2vw;
}
section {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--blank);
    border-radius: 25px;
}

.title figure {
    margin: 0;
}

.title figure img {
    width: 7vh;
    height: 7vh;
}
.imgCharizard {
    width: 100%;
    height: auto;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--blank);
    border-radius: 25px;
    font-size:3vh;
    width: 100%;
}

article span {
    display: flex;
    flex-direction: column;
}
.parent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.child {
    font-weight: 700;
    text-align: center;
}
.child span:nth-child(1) {
    color: var(--purple);
    font-weight: bolder;
}

footer {
    grid-area: footer;
    height: 35vh;
}

footer div {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 0 0 5vh 5vh;
}

footer img {
    width: 100%;
    height: auto;
}

footer figure {
    width: 100%;
    border-radius: 10px;
    background-color: var(--lilac);
}
.othersContainer {
    background-color: var(--blank);
    align-items: center;
    padding-left: 5vh;
    display: flex;
}